

@keyframes listDescend {
	0% {
		top: -50px;
	} 100% {
		top: 0;
	}
}


@keyframes listAscend {
	0% {
		top: 31px;
	} 100% {
		top: -25px;
	}
}


@keyframes burgerIn {
	0% {
		right: -4rem;
	} 100% {
		right: 2rem;
	}
}


@keyframes burgerOut {
	0% {
		right: 2rem;
	} 100% {
		right: -4rem;
	}
}


@keyframes sideNavIn {
	0% {
		right: -11.5rem;
	} 100% {
		right: 0;
	}
}


@keyframes sideNavOut {
	0% {
		right: 0;
	} 100% {
		right: -11.5rem;
	}
}


