

@import 'colors';


#home {
	position: relative;

	.content {
		border: 2px solid black;
		background-color: $white;
	}
		
	.parallax {
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('/client/images/mountain-valley.jpg');
	}

	section {
		height: 350px;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		color: $black;
	}
}

