

@mixin transition($props, $durations, $delays: 0s) {
	@if $props {
						transition-property: $props;
		-webkit-transition-property: $props;
			 -moz-transition-property: $props;
				-ms-transition-property: $props;
				 -o-transition-property: $props;
	}

	@if $durations {
						transition-duration: $durations;
		-webkit-transition-duration: $durations;
			 -moz-transition-duration: $durations;
				-ms-transition-duration: $durations;
				 -o-transition-duration: $durations;
	}

					transition-delay: $delays;
	-webkit-transition-delay: $delays;
		 -moz-transition-delay: $delays;
			-ms-transition-delay: $delays;
			 -o-transition-delay: $delays;
}

